
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 1 10vh;
    height: 100%;
}

main {
    flex: 0 1 90vh;
    height: 100%;
}

main > .container {
    height: 100%;
}